body {
background:#eee;    
}

span {
position:relative;
top:11px;
padding-right:5px;
}
body>h1 {
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.043em;
  word-spacing: -0.002em;
  line-height: 1.31;
}

ul {
list-style:none;    
}
ul ul {
padding-bottom:25px;    
}
ul:not(ul ul) {
padding:20px;
}

a {
text-decoration:none;
color:#4C5264;
}

a:hover {
color:#73798C;
}

#footer {
position:fixed;
bottom:5px;
right:200px;
}