<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header col-12">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">home</a>
            </div>
     
                {{ content }}

            <div class="footer col-12">
              <div class="contact">
                  {% highlight javascript %}
var self = {
  name  : 'Brad Davis',
  title : 'Web Application Developer',
  email : 'brad' + '@' + 'braddavis' + '.cc'
};
                  {% endhighlight %}
              </div>
              <div class="contact">
                <p>
                  <a id="github" class="btn" href="http://github.com/thecolorblue/">github</a><br />
                  <a id="twitter" class="btn" href="http://twitter.com/thecolorblue/">twitter</a><br />
                  <a id="forrst" class="btn" href="http://forrst.me/Bdavis">forrst</a><br />

                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
