/* ---- Ranges ------- */
/* slider root element */
.slider { 
	background:#777 url(./img/bg3.png) no-repeat 0 -9px; 
	position:relative; 
	cursor:pointer;
	border:1px solid #333;
	float:center; 
	clear:right;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
    height:7px;
width:150px;
margin:13px auto;

}

/* progress bar (enabled with progress: true) */
.progress {
	height:9px; 
	background-color:#C5FF00; 
	display:none;
	opacity:0.6;
}

/* drag handle */
.handle { 
	background:#777 url(./img/h31.png) repeat-x 0 0; 
	height:22px;
	width:10px;
	position:absolute; 
	display:block; 
	margin-top:3px;
	border:1px solid #3e3d45;
	cursor:move;

	-moz-border-radius:3px;
	-webkit-border-radius:3px; 
-webkit-box-shadow: 1px 1px 1px rgba(62,61,69,.4);
-moz-box-shadow: 1px 1px 1px #000000;
box-shadow: 1px 1px 1px #000000;
}

/* the input field */
.range {
	border:1px inset #ddd;
	float:left;
	font-size:20px;
	margin:0 0 0 15px;
	padding:3px 0;
	text-align:center;
	width:50px;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 		
}


